@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --color-grey-100: #f5f5f5; /* Define light grey color */
  --color-grey-800: #333333; /* Define dark grey color */
  --color-success-500: #00ff00; /* Define success color */
  --color-error-500: #ff0000; /* Define error color */
  --size-6: 1.5rem; /* Define font size */
  --size-8: 2rem; /* Define padding size */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  line-height: 1.7em;
}

.container{
  margin: auto;
  max-width: 1100px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
